#container-movie{
    display: flex;
    margin: 100px 50px;
}

#movie-image{
    border-radius: 5px;
    box-shadow: 0px 0px 12px 7px;
}
#movie-content{
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-left: 50px;
}
#title-and-genre{
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 20px 0px;
}
#movie-genre{
    margin-top: 10px;
}
#progress-container{
    display: flex;
}
.cont{
    display: flex;
    flex-direction: column;
    align-items: center;
}
.progress{
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    margin: 20px;
    background-color: aqua;
    height: 70px;
    width: 70px;
    border-radius: 100%;
    box-shadow: 2px 3px 7px 1px;
    font-weight: bold;
}
#progress-1{
    background-color: rgb(255 189 92);;
}
#progress-2{
    background-color: rgb(247 79 120);;
}
#progress-3{
    background-color: rgb(118 109 244);;
}
#movie-cast{
    margin: 20px 0px;
    font-weight: 500;
}



@media only screen and (max-width: 920px) {
    #container-movie{
        flex-direction: column;
        align-items: center;
    }
    #movie-content{
        margin-left: 0px;
    }
}